{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Ingresar{% endblock %}    
{% block body %}
<body>

    <div class=" py-5" style="background-color: #502d61;">
        <br><br><br>
         <div class="container-fluid text-white text-center" style="background-color: #502d61;">
         </div> 
     </div>
     <br> <br> <br> <br> 
   
     <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form-container">
                <h3 class="text-center">Ingresar</h3>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% else %}
                    <p>Por favor ingresa tus datos para entrar a tu cuenta:</p>
                {% endif %}
                <br> <br> 
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}">Correo:</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}">Contraseña:</label>
                        {{ form.password}}
                    </div>
                    <br> 
                    <div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <p><input type="submit" value="Ingresar"  class="btn btn-pill btn-green ml-auto" style="float: right;"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>

{% endblock %}