{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Autocultivos{% endblock %}    
{% block body %}

    <!-- ======== cultivation-plan-header-section ======== -->
    
    <section>
        <div class="py-5" style="background-color: #502d61;">
            <br><br>
            <div class="container-fluid  text-white text-center margin-header" style="background-color: #502d61;">
                <h1 class="text-white" >Autocultivo</h1>
                <p class="lead fw-normal text-white-50 mb-0">Descubre la magia del cultivo propio.</p>
            </div>
        </div>
    </section>
    
    <section>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img img-fluid rounded float-start" data-wow-delay=".5s">
                        <img class="img-thumbnail" src="{% static 'img/hero/weed_plant.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cultivation-plan-details">
                        <h2 class="cultivation-plan-title title-center title-color" >Autocultivo</h2>
                        <p>El autocultivo de marihuana es la práctica de cultivar tus propias plantas de 
                            cannabis para uso personal. Esta opción te permite tener un control total sobre 
                            el proceso de cultivo, desde la selección de las semillas hasta la cosecha. </p>
                        <br>
                        <h3 class="cultivation-plan-subtitle title-color">El autocultivo es la mejor elección por varias razones</h3>
                        <ul class="cultivation-plan-features">
                            <li class="cultivation-plan-feature">Control de Calidad: Al cultivar tu propia marihuana, tienes 
                                control total sobre el proceso de crecimiento. Puedes elegir las mejores cepas y métodos de
                                 cultivo para garantizar la calidad y pureza de tus plantas.</li>
                            <li class="cultivation-plan-feature">Variedad de Cepas: Puedes seleccionar las variedades de 
                                marihuana que mejor se adapten a tus necesidades o preferencias. Ya sea que busques fines 
                                recreativos o medicinales, puedes cultivar cepas específicas con perfiles de cannabinoides y 
                                terpenos personalizados.</li>
                            <li class="cultivation-plan-feature">Privacidad y Seguridad: Cultivar marihuana 
                                 en espacios controlados te brinda seguridad y discreción. No dependes de fuentes 
                                ilegales, minimizas los riesgos asociados con la compra en el mercado negro.</li>
                            <li class="cultivation-plan-feature">Conocimiento y Experiencia: El autocultivo te brinda la
                                 oportunidad de adquirir conocimientos valiosos sobre el cultivo de plantas y el ciclo de
                                  vida de la marihuana. A medida que avanza tu proceso de autocultivo desarrollas habilidades, 
                                  y tecnicas para obtener cosechas más exitosas.</li>
                        </ul>
                        
                        <p class="cultivation-plan-description">El autocultivo de marihuana para uso personal es legal y está regulado por leyes específicas.
                             Es importante que conozcas las regulaciones antes de comenzar tu cultivo.</p>
                    </div>
                        <br>
                        <a href="{% url 'services_home' %}" class=" btn btn-pill btn-green ml-auto"   style="float: right;"><b>Adquirir plan</b></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    


            <!-- ======== cultivation-plan-header-section-end ======== -->
    

  <!-- ======== packages-section ======== -->


  <!--<section id="pricing">
  <div class="container">
     <div class="row text-center">
        <h1 class="title">Paquetes</h1>
     </div>
     <br><br><br>
     <div class="row">
        {% for package in packages %}
           <div class="col-md-4 col-sm-6">
              <div class="pricingTable">
                 <div class="pricingTable-header">
                    <h3 class="heading">{{ package.name }}</h3>
                    <span class="subtitle">{{ package.description }}</span>
                    <div class="price-value">{{ package.price }}
                       <span class="currency">$</span>
                       <span class="month"> /mes</span>
                    </div>
                 </div>
                 <ul class="pricing-content">
                    {% for item in package.package_items.all %}
                      <li>{{ item.name }}</li>
                    {% endfor %}
                 </ul>
                 <form action="{% url 'add_item' package.id %}" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input hidden type="text" name='package' value='{{package.id}}'>
                    <button  class=" read">
                      <b> Agregar al carrito </b>
                    </button>
                  </form>

              </div>
           </div>
        {% endfor %}
     </div>
  </div>
</section> -->

  <!-- ======== packages-section end ======== -->

  

{% endblock %}