{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Ingresar{% endblock %}    
{% block body %}
<body>
    <div class="py-5" style="background-color: #502d61;">
        <br><br><br>
         <div class="container-fluid bg-success text-white text-center" style="background-color: #502d61;">
         </div> 
     </div>
     <br> <br> <br> <br> 

    <h1 class="title-color" style="text-align: center;">Olvidaste tu contraseña</h1>
    <p style="text-align: center;">Ingrese su dirección de correo electrónico para recuperar la contraseña</p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2"> 
                <div>
                    <form method="post">
                    {{ form.as_p }} 
                    {% csrf_token %}
                    <div>
                        <p><input type="submit"  value="Enviar correo"  class="btn btn-pill btn-green ml-auto" style="float: right;"></p>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
   
</body>


{% endblock %}


