{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Ingresar{% endblock %}    
{% block body %}
<body>
    <div class=" py-5" style="background-color: #502d61;">
        <br><br><br>
         <div class="container-fluid text-white text-center" style="background-color: #502d61;">
         </div> 
     </div>
     <br> <br> <br> <br> 
     
    <h1 class="title-color" style="text-align: center;">Contraseña restablecida</h1>
    <p style="text-align: center;">Tu contraseña ha sido restablecida. Puedes <a href="{% url 'login' %}">ingresar</a> de nuevo.</p>

</body>

{% endblock %}










