{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Ingresar{% endblock %}    
{% block body %}
<body>
    <div class=" py-5" style="background-color: #502d61;">
        <br><br><br>
         <div class="container-fluid bg-success text-white text-center" style="background-color: #502d61;">
         </div> 
     </div>
     <br> <br> <br> <br> 

    <h1 class="title-color" style="text-align: center;">Restablece tu contraseña</h1>
    <br>
    <p style="text-align: center;">Hemos enviado por correo electrónico las instrucciones para restablecer tu contraseña.</p>

</body>

{% endblock %}
