{% extends 'base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}Ingresar{% endblock %}    
{% block body %}
<body>
    <div class="py-5" style="background-color: #502d61;">
        <br><br><br>
         <div class="container-fluid text-white text-center" style="background-color: #502d61;">
         </div> 
     </div>
     <br> <br> <br> <br> 

    <h1  class="title-color" style="text-align: center;">Restablece tu contraseña</h1>
    {% if validlink %}
        <br>
      <p style="text-align: center;">Por favor ingresa tu nueva contraseña:</p>
      <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit"  value="Cambiar contraseña"  class="btn btn-pill btn-green ml-auto" style="float: right;"></p>
      </form>
    {% else %}
      <p style="text-align: center;"></p>>El enlace para restablecer la contraseña no era válido. Solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}

</body>

{% endblock %}








