{% load static %}
    <!-- ======== footer start ======== -->
    <footer class="footer">
        <div class="container">
          <div class="widget-wrapper">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="footer-widget">
                  <div class="logo mb-10">
                    <a href="{% url 'index' %}">
                      <img src="{% static 'img/logo/LogoWB.jpeg' %}" alt="" width="190" height="110" 
                      />
                    </a>
                  </div>
                  
                  <ul class="socials">
                    <li>
                      <a href="jvascript:void(0)">
                        <i class="lni lni-facebook-filled"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href= "https://twitter.com/weedboxy_">
                        <i class="lni lni-twitter-filled"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href= "https://www.instagram.com/w33dboxy/">
                        <i class="lni lni-instagram-filled"></i>
                      </a>
                      
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-xl-2 col-lg-2 col-md-6">
                <div class="footer-widget">
                  <h3>Sobre nosotros</h3>
                  <ul class="links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <!-- <li><a href="javascript:void(0)">Equipo de trabajo</a></li>-->
                    <li><a  href="{% url 'services_home' %}#contact">Contacto</a></li>
                    
                  </ul>
                </div>
              </div>
  
              <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget">
                  <h3>Enlaces de interes</h3>
                  <ul class="links">
                    <li><a href="javascript:void(0)">Politicas de autocultivo</a></li>
                    <li><a href="javascript:void(0)">Terminos del servicio</a></li>
                    <li><a href="jvascript:void(0)">Eventos</a></li>
                    
                  </ul>
                </div>
              </div>
  
              <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget">
                  <h3>Otros productos</h3>
                  <ul class="links">
                    <li><a href="jvascript:void(0)">Cursos</a></li>
                    <li><a href="{% url 'products_home' %}">Accesorios</a></li>
                    
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center p-2" style="background-color: #d6d4d4; color:#444551">
          © 2022 Weedboxy Derechos Reservados
        </div>
      </footer>
      <!-- ======== footer end ======== -->

    <!-- ======== scroll-top ======== -->
      <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
      </a>
      
      <a target="_blank" href="https://wa.me/573144476979" class="scroll-top btn-hover" >
        <i class="lni lni-whatsapp"></i>
      </a>
  
      <!-- ======== JS here ======== -->
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <script src="{% static '/js/main.js' %}"></script>